name: Deploy TodoApp Infra

on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Azure Login using Azure Credentials
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: todoapp-tf
        run: terraform init

      - name: Terraform Plan
        working-directory: todoapp-tf
        run: terraform plan

      - name: Terraform Apply
        working-directory: todoapp-tf
        run: terraform apply -auto-approve

      # - name: Terraform destroy
      #   working-directory: todoapp-tf
      #   run: terraform destroy -auto-approve




